@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<h2>Message from Kubernetes : @Html.DisplayFor(model => model.result)</h2>
